/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Main
body {
  font-family: "Mukta", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

// Utilities
.container {
  max-width: 1600px;
  margin: auto;
}

.margin-top-big {
  margin-top: 5rem;
}
.margin-top-medium {
  margin-top: 2.5rem;
}
.margin-top-small {
  margin-top: 1rem;
}

.margin-bottom-big {
  margin-bottom: 5rem;
}
.margin-bottom-medium {
  margin-bottom: 2.5rem;
}
.margin-bottom-small {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}

.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}

.py-1 {
  padding: 5px 0;
}
.py-2 {
  padding: 10px 0;
}
.py-3 {
  padding: 15px 0;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.completed {
  text-decoration: line-through;
}

.separate {
  display: flex;
  justify-content: space-between;
}

// Headings
.heading-secondary {
  font-size: 2rem;
  color: #3b2e5a;
  transition: all 0.2s;
  line-height: 1;
  display: inline-block;
  &-mini {
    color: #848ccf;
    border-bottom: 4px solid #848ccf;
  }

  &:hover {
    text-shadow: 5px 5px 10px rgba(#000, 0.15);
  }
}

.heading-tertiary {
  font-size: 1.3rem;
  transition: all 0.2s;
  display: inline-block;

  &:hover {
    color: #848ccf;
    text-shadow: 5px 5px 10px rgba(#000, 0.15);
  }
}
