/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
// Utilities
.container {
  max-width: 1600px;
  margin: auto;
}

.margin-top-big {
  margin-top: 5rem;
}
.margin-top-medium {
  margin-top: 2.5rem;
}
.margin-top-small {
  margin-top: 1rem;
}

.margin-bottom-big {
  margin-bottom: 5rem;
}
.margin-bottom-medium {
  margin-bottom: 2.5rem;
}
.margin-bottom-small {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}

.heading-secondary {
  font-size: 2rem;
  color: #3b2e5a;
  transition: all 0.2s;
  line-height: 1;
  &-mini {
    color: #848ccf;
    border-bottom: 4px solid #848ccf;
  }

  &:hover {
    text-shadow: 5px 5px 10px rgba(#000, 0.15);
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.separate {
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}
