@mixin bgc($col1, $col2) {
  background-color: $col1;
  color: $col2;
}

@mixin inverted($col1, $col2) {
  @include bgc($col2, $col1);
}

.btn {
  display: inline-block;
  padding: 16px 48px;
  border-radius: 3px;
  transition: all 0.2s;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  &:not(:last-child) {
    margin-right: 1rem;
  }

  &-primary {
    @include bgc(#6f4a8e, #fff);
    &:hover {
      opacity: 0.9;
    }
  }

  &-medium {
    padding: 0.7rem 1.7rem;
  }

  &-small {
    padding: 0.4rem 1.2rem;
  }

  &-primary.btn-inverted {
    border: 1px solid transparent;
    &:hover {
      @include inverted(#6f4a8e, #fff);
      border: 1px solid #6f4a8e;
    }
  }

  &-secondary {
    @include bgc(#848ccf, #fff);
    &:hover {
      @include bgc(rgba(#848ccf, 0.9), #fff);
    }
  }

  &-danger {
    @include bgc(#dd2c00, #fff);
  }

  &-success {
    @include bgc(#a8df65, #fff);
  }
}
