.header {
  position: relative;
  height: 92.4vh;
  background-color: #ebebeb;
  .landing {
    position: absolute;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    &__heading {
      width: 60%;
      margin-right: 60px;
      .heading-primary {
        font-size: 3rem;
        color: #6f4a8e;
      }
      .primary-paragraphs {
        margin: 40px 0;
        .paragraph-primary {
          font-size: 1.2rem;
          line-height: 1.7;
        }
      }
    }
    &__images {
      width: 40%;
      .heading__image {
        height: 40%;
        border-radius: 3px;
        box-shadow: 10px 10px 20px rgba(#000, 0.2);
        transition: all 0.3s ease;
        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        &:hover {
          opacity: 0.9;
          box-shadow: 5px 5px 10px rgba(#000, 0.2);
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .header {
    height: 100vh;
    .landing {
      &__heading {
        width: 100%;
        margin: 0;
        .heading-primary {
          font-size: 3rem;
        }
        .primary-paragraphs {
          margin: 30px 0;
          .paragraph-primary {
            font-size: 1rem;
            line-height: 1.4;
          }
        }
      }
      &__images {
        display: none;
      }
    }
  }
}
